# Extensions
*.pyc
*.log

# Folders
tools/game_logs/*
.project
.pydevproject
/bot/.variables.py.kate-swp
/bot.zip
/bot-0.0.2.zip
/bot/bot.zip
/tools/eskadi/0.bot0.error
/tools/eskadi/0.bot2.error
/tools/eskadi/0.bot3.error
/tools/eskadi/0.bot1.error
/tools/eskadi/0.replay
/tools/eskadi/replay.0.html
